/target
/Cargo.lock
/.history

.vscode
*.code-workspace

.idea
.DS_Store
/notarization-move/build/*
/bindings/wasm/notarization_wasm/docs/*

# ignore folder created in CI for downloaded iota binaries
/iota/
/toml-cli/